@import "normalize.less";

/* base */

body {
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 1020px; /* 1000+10+10 - чтобы задние фоны, кот тянутся на 100%, никуда не уезжали */
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px; /* чтобы при изменении экрана содержимое не прилипало к краям браузера */
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
/* двухсторонняя распорка, снизу чистит поток, сверху бережёт от выпадающих и схлопывающихся маргинов */


/* header */

.main-header {
  background: #262933;
  padding: 35px 0;
  
  &_right{
    width: 500px;
    float: right;
  }
  
  .socio {
    float: right;
    width: 130px;
    text-align: right;
  }
}

.logo {
  float: left;
  width: 250px;
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
}

.main-navigation {
  margin-left: 44px;
  font-size: 0;
  float: left;
  width: 310px;
  
  a {
    display: inline-block;
    vertical-align: top;
    line-height: 28px;
    font-size: 12px;
    color: #9d9fa5;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 35px;
    
    &:last-child {
      margin-right: 0;
    }
    
    &.active,
    &:hover {
      color: #FFF;
    }
  }
}

.social {
  font-size: 0;
  float: right;
//  margin-right: 10px;
  a {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    margin-right: 17px;
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      background: transparent;
    }
  }
}

/* about */

.about {
  background-color: #fff;
  background: url("../pict/bg-top.jpg") no-repeat center top;
  background-size: 100% 345px;
  
  &_title {
    margin: 0;
    padding-top: (160px - 43px) / 2;
    padding-bottom: (160px - 43px) / 2;
    font-size: 30px;
    line-height: 43px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    
    span {
      font-weight: 700;
    }
  }
  
  &_text {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #848b90;
    font-weight: 400;
    padding-top: (136px - 30px) / 2;
    padding-bottom: (136px - 30px) / 2;
    
    span {
      font-size: 15px;
      display: inline-block;
      vertical-align: top;
      margin-left: 30px;
    }
    
    a {
      color: #43b5fd;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.box {
  padding: 60px 553px 60px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 7px solid #fff;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
  background-color: #2c2e38;
  background-image: url(../pict/bg-box-new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  
  &_title {
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  &_href {
    font-size: 16px;
    line-height: 20px;
    color: #43b5fd;
    text-decoration: none;
    font-weight: 600;
  }
  
  p {
    margin: 15px 0 25px 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #c8c8c8; 
  }
}

.btn {
  margin-right: 15px;
  display: inline-block; /* т.к. кнопки у нас - ссылки, то делаем их inline-block */
  vertical-align: top;
  font-size: 12px;
  line-height: 20px; /* делаем любой, с кот нам потом будет удобно добавлять padding */
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  padding: 6px 27px;
  /* padding верхний и нижний считали так: т.к. line-height: 20px;, а высота всей кнопы у нас 38, то (38 - 20) / 2 = 9. А правый и левый просто измерили по макету - по 30px. Вычитаем из получившихся рез-тов по 3px на border */
  background: #43b5fd;
  border: 3px solid #43b5fd;
  border-radius: 15px;
  
  &:hover {
    background: darken(#43b5fd, 10%); /* темнее на 10% */
    border: 3px solid darken(#43b5fd, 10%);
  }
  
  &:active {
    background: transparent;
    border: 3px solid #43b5fd;
  }
  
  &--transparent {
    background: transparent;
    border: 3px solid #6b7a86;
    
    &:hover {
      background: darker(#43b5fd, 10%);
    }
    
    &:active {
      border: 3px solid transparent;
    }
  }
}

//  box-sizing: border-box; /* для того, чтобы можно было задавать кнопе границы, и это никак не сказывалось на ее размере */

